/* FOOTER */
.footer {
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: transparent;
  }
  
  .footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 900px) {
    footer {
      position:static;
    }
  }
  @media (max-width: 600px) {
    footer {
      display: none !important;
    }
  }
  @media (max-height: 900px) {
    body {
      font-size: 0.95rem;
    }
  
    section {
      padding-top: 80px !important;
      padding-bottom: 80px !important;
    }
  }
  